@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor__clara:#F3E7FAcc;
    --cor__media_1: #d3aede;
    --cor__media_2: #a783b2;
    --cor__escura: #563560 ;
    --fonte-titulo:'Krona One', sans-serif;
    --fonte-Principal:'Montserrat', sans-serif;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


body{
    box-sizing: border-box;
    background-color: var(--cor__clara);
    background-position: top;
    background-image: url("../assets/bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: var(--cor__escura);
    font-family: var(--fonte-Principal);
    font-weight: 600;
}



.cabecario{
    padding: 2% 0px 0px 15%;    
}


.cabecario__menu{
    display: flex;
    gap:50px;
}

.cabecario__menu__link{
    background: var(--cor__media_1); 
    border: solid var(--cor__media_2);
    padding: 10px;
    border-radius: 16px;
    font-family: var(--fonte-Principal);
    font-size: 1rem;
    color: var(--cor__escura);

}

.cabecario__menu__link:hover{
    background:var(--cor__media_1);
    border: solid var(--cor__escura);
    padding: 10px;
    border-radius: 16px;
    text-decoration: none;
}


.apresentacao{
    padding: 5% 10%;
    display: flex;
    align-items:start;
    justify-content: space-around;
    gap: 5px;

}
.logo{
    mix-blend-mode: multiply;
    width: 98%;
}

.apresentacao__img{
    width:80%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--cor__clara);
    border-radius: 2rem;
    padding: 0.5rem;
}

.apresentacao__conteudo__titulo{ 
    font-family: var(--fonte-titulo);
    font-size: 2.25rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.apresentacao__conteudo__subtitulo{
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 1rem;
}

.apresentacao__conteudo__destaque{
    color: var(--cor__media_2);
    font-size: 1.4rem;
    padding-bottom: 1rem;
}
.apresentacao__conteudo__texto{
    padding: 10px;
    font-size: 1.2rem;
}

.texto{
    background-color: var(--cor__clara);
    border-radius: 16px;
}

.apresentacao__links{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2%;
}

.img__e__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.apresentacao__links_subtitulo{
    font-family: var(--fonte-titulo);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}

.apresentacao__navegacao{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--cor__media_1); 
    border: solid var(--cor__media_2);
    width: 40%;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--cor__escura);
}

.apresentacao__navegacao:hover{
    background:var(--cor__media_1);
    border: solid var(--cor__escura);
}

.apresentacao li{
    font-size: 1.1rem;
    padding: 0.5rem;
}

.apresentacao__certificados{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cor__clara);
    border-radius: 2rem;
    padding: 0.5rem;
}
.logo__certificados{
    mix-blend-mode: multiply;
    width: 50%;
}

footer{
    background: var(--cor__escura); 
    color: var(--cor__media_1);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1100px){
    body{
        background-image: url("../assets/bg2.png");
        background-size:cover;
        background-repeat: no-repeat;
    }
    .cabecario{
        padding: 5%; 
    }
    .cabecario__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
        row-gap: 20px;
    }
    .apresentacao__links{
        height: 30%;
        display: flex;
        align-items: center;
        flex-direction:column;
        gap: 10px;
        padding: 1rem;
    }

    .apresentacao__navegacao{
        width: 80%;
    }

}



